body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.pink-hilight{
    color: hotpink;
    font-size: 40px;
    letter-spacing: 3px;
}

.hire-me-button{
    text-decoration: none;
    background-color: deeppink;
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    
}

.half-width{
    width: 40%;
    float: left;
    
    
}

.top-bannar-text{
    margin-left: 30%;
    padding-top: 50%;

}
.half-width img{
    width: 70%;
    padding-top: 35%;
    margin-left: 40%;
}

.top-bannar{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

section{
    height: 500px;
    padding-bottom: 150px;
}


.biography h1{
    text-align: center;
}

.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
    
}

.half-width-bio{
    width: 40%;
    float: left;
}
.half-width-bio img{
    width: 70%;
    padding-top: 15%;
    margin-left: 20%;
}


.my-leatest-work h1{
    text-align: center;
}
.my-leatest-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
}
.my-leatest-work img{
    
    height: 270px;
    width: 300px;
    display: block;
    float: left;
    padding-top:40px;
    margin:5%;
    
}

.client-review{
    background-image: url("images/footer-bg.png");
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
   
    
}
.client-review p{
    font-size: 12px;
    
}

.email{
    background-color: deeppink;
    border-radius: 5px;
    height: 80%;
    padding:2% 6%;
    float: left;
    margin-left: 35% ;
    color: white;
    font-weight: lighter;
}

footer p{
    text-align: center;
    font-size: 14px;
}

/*bonus exection css*/
.single-experience{
    box-shadow: 10px 10px 40px grey ;
    border-radius: 5px;
    height: 80%;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2% ;
}

.experience-area{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left:7px solid ;
    border-image: linear-gradient( 180deg,lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left:7px solid ;
    border-image: linear-gradient( 180deg,blue, cyan);
    border-image-slice: 1;
}
.experience-area h1{
    text-align: center;
    padding-top:20px;
}